# next-auth secret (generate with `openssl rand -base64 32`)
AUTH_SECRET=changeme_random_secret

# The URL where HacxGPT-Backend is running
BACKEND_API_URL=http://127.0.0.1:8000

# Base path for deployment (leave empty for root)
NEXT_PUBLIC_BASE_PATH=

# Admin configuration (optional)
# IS_DEMO=1
